.u-section-1 .u-sheet-1 {
  min-height: 321px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 43px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 114px auto 42px 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.8125rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1064px;
}

.u-section-2 .u-table-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-block-afc9-24 {
  height: 47px;
}

.u-section-2 .u-table-cell-1 {
  margin-bottom: 0;
}

.u-section-2 .u-table-cell-2 {
  margin-top: 0;
}

.u-section-2 .u-table-cell-3 {
  margin-bottom: 0;
}

.u-section-2 .u-table-cell-4 {
  margin-top: 0;
}

.u-section-2 .u-table-cell-5 {
  margin-bottom: 0;
}

.u-section-2 .u-table-cell-6 {
  margin-top: 0;
}

.u-section-2 .u-table-cell-7 {
  margin-bottom: 0;
}

.u-section-2 .u-table-cell-8 {
  margin-top: 0;
}

.u-section-2 .u-table-cell-9 {
  margin-top: 20px;
  margin-bottom: 0;
  position: relative;
}

.u-section-2 .u-table-cell-10 {
  margin-top: 0;
}

.u-section-2 .u-table-cell-11 {
  margin-top: 20px;
  margin-bottom: 0;
  position: relative;
}

.u-section-2 .u-table-cell-12 {
  margin-top: 0;
}

.u-section-2 .u-table-cell-13 {
  margin-top: 20px;
  margin-bottom: 0;
  position: relative;
}

.u-section-2 .u-table-cell-14 {
  min-height: 67px;
  margin-top: 0;
}

.u-section-2 .u-table-cell-15 {
  margin-top: 20px;
  margin-bottom: 0;
  position: relative;
}

.u-section-2 .u-table-cell-16 {
  min-height: 67px;
  margin-top: 0;
}

.u-section-2 .u-table-cell-17 {
  margin-top: 20px;
  margin-bottom: 0;
  position: relative;
}

.u-section-2 .u-table-cell-18 {
  min-height: 67px;
  margin-top: 0;
}

.u-section-2 .u-table-cell-19 {
  margin-top: 20px;
  margin-bottom: 0;
  position: relative;
}

.u-section-2 .u-table-cell-20 {
  min-height: 67px;
  margin-top: 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-block-afc9-37 {
  height: 47px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-table-1 {
    margin-top: 521px;
    margin-bottom: -372px;
  }

  .u-section-2 .u-table-cell-14 {
    min-height: 55px;
  }

  .u-section-2 .u-table-cell-16 {
    min-height: 55px;
  }

  .u-section-2 .u-table-cell-18 {
    min-height: 55px;
  }

  .u-section-2 .u-table-cell-20 {
    min-height: 55px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-table-1 {
    margin-top: 418px;
    margin-bottom: -475px;
  }

  .u-section-2 .u-table-cell-14 {
    min-height: 42px;
  }

  .u-section-2 .u-table-cell-16 {
    min-height: 42px;
  }

  .u-section-2 .u-table-cell-18 {
    min-height: 42px;
  }

  .u-section-2 .u-table-cell-20 {
    min-height: 42px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-table-1 {
    margin-top: 253px;
    margin-bottom: -640px;
  }

  .u-section-2 .u-table-cell-14 {
    min-height: 63px;
  }

  .u-section-2 .u-table-cell-16 {
    min-height: 63px;
  }

  .u-section-2 .u-table-cell-18 {
    min-height: 63px;
  }

  .u-section-2 .u-table-cell-20 {
    min-height: 63px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-table-1 {
    margin-top: 156px;
    margin-bottom: -737px;
  }

  .u-section-2 .u-table-cell-14 {
    min-height: 40px;
  }

  .u-section-2 .u-table-cell-16 {
    min-height: 40px;
  }

  .u-section-2 .u-table-cell-18 {
    min-height: 40px;
  }

  .u-section-2 .u-table-cell-20 {
    min-height: 40px;
  }
}